@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Princess Sofia", cursive;
} 
body{
    display: grid;
    place-content: center;
    heigth: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #A6E9AB
}
.flipbook{
    width: 1000px;
    height: 600px;
}
.flipbook .paginas{
    background: #A6E9AB;
    color: rgb(252, 134, 136);
    
}